.login {
    text-align:center;

    &__form {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-top: 61px;
        margin-bottom: 100px;
        width: 285px;
        padding: 20px 60px;
        background-color: #fbfbfb;
        border-radius: 4px;
        font-family: sans-serif;

        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;
        }
    }

    &__form-inp {
        
    }

    &__form-error {
        margin-top: 5px;
    }

}