.order-popup {  
  position: absolute;
  left: 50%;
  margin-left: -240px;
  width: 442px;
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  //border-top: 12px solid #9b9b9b;
  z-index: 1002;
  display: none;

  &_visible {
    display: block;
  }

  &__bg {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 1001;
    display: none;

    &_visible {
      display: block;
    } 
  }

  &__close {
    position: absolute;
    top:5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-image:url('../img/close-black.png');
    background-repeat:no-repeat;
    background-size:cover;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__prod {
    padding: 0 39px;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  &__prod-img-wr {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 151px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
  }

  &__prod-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__prod-name {
    display: inline-block;
    vertical-align: top;
    width: 183px;
    color: #343434;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;   
  }

  &__title {
    color: #343434;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;   
  }

  &__title-info {
    color: #575757;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    margin-top: 4px;
  }

  &__inp {
    padding-left: 40px;
    padding-right: 40px;
    margin:14px 0;

    &_title {
      margin-bottom: 20px;
      padding-top: 20px;
    }    

    &_action {
      margin: 10px 0;
      padding-bottom:40px;
      position:relative
    }
  }

  &__inp-label {
    color: #343434;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
  }

  &__inp-req {
    float: right;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    color: #d00;
    visibility: hidden;
    opacity: 0;

    &_confirm {
      margin-top: 5px;
    }
  }

  &__inp-val {
    width: 100%;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 10px;
    background-color: #FBFCFE;
    outline: none;
    box-sizing: border-box;
  }

  &__text-val {
    width: 337px;
    height: 77px;
    line-height: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #FBFCFE;
    outline: none;
    resize: none;
  }

  &__sendBtn {
    display: inline-block;
    vertical-align: top;
    width: 102px;
    height: 31px;
    line-height: 31px;
    background-color: #32486e;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background-color: #4a638f;
    }
  }

  &__confirmCehck-wrap {
    display: inline-block;
    vertical-align: top;
    width: 200px;
  }

  &__confirmCehck {
    display: inline-block;
    vertical-align: top;
  }

  &__confirmCehck-label {
    display: inline-block;
    vertical-align: top;
    width: 174px;
    color: #444;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
  }

  &__confirmCehck-link {
    
  }

  &__full-confirm {
    display: none;
    position: absolute;
    top: -128px;
    left: 0;
    width: 500px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;

    &.visible {
      display: block;
    }
  }

  &__full-confirm-close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-image: url(../img/close-black.png);
    background-size: cover;
    opacity: 0.8;
  }

  &__full-confirm-check {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
  }

  &__full-confirm-label{
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    width: 470px;
  }



  &__closeBtn {
    display: block;
    width: 127px;
    height: 31px;
    line-height: 31px;
    margin:0 auto;
    margin-bottom: 30px;
    background-color: #00aeef;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }

  &__success {
    display: none;
  }

  &__success-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:80px 30px;
  }

  &__fail {
    display: none;
  }

  &__fail-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:80px 30px;
  }

  &__sending {
    display: none;
    padding:100px 0;
    text-align: center;
  }

  &__sending-img {
    width: 80px;
  }
}

.custom-form-error {
  .order-popup {
    &__inp-val {
      background-color: #ffdcdc;
      //transition: background-color 0.1s linear;
    }

    &__text-val {
      background-color: #ffdcdc;
      //transition: background-color 0.1s linear;
    }

    &__inp-req {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  }
}

.custom-form-sending {
  .order-popup {
    &__sending {
      display: block;
    }

    &__inputs {
      display: none;
    }
  }
}

.custom-form-success {
  .order-popup {
    &__success {
      display: block;
    }

    &__inputs {
      display: none;
    }
  }
}

.custom-form-fail {
  .order-popup {
    &__fail {
      display: block;
    }

    &__inputs  {
      display: none;
    }
  }
}