.work-viewer-bg {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 10;
  
  &_close {
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: 484px;
    width: 27px;
    height: 27px;
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &_close:hover {
    opacity: 0.7;
  }

  &_arrow-left {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: 484px;
    margin-top: -49px;
    width: 50px;
    height: 97px;
    background-image: url(/img/work-viewer-arrow-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &_arrow-left:hover {
    opacity: 0.7;
  }

  &_arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 484px;
    margin-top: -49px;
    width: 50px;
    height: 97px;
    background-image: url(/img/work-viewer-arrow-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &_arrow-right:hover {
    opacity: 0.7;
  }

}

.work-viewer {
  display: none;
  position: fixed;
  top:40px;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  bottom: 40px;
  max-height: 800px;
  background-color: #fff;
  z-index: 11;
  overflow-y: auto;

}

  
.work-viewer-content {

  &_head {
    font-size: 0;
    margin-top: 26px;
    padding: 0 20px;
  }

  &_head-wrapForImg {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  &_head-img {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
  }

  &_head-info {
    display: inline-block;
    vertical-align: top;
    width: 390px;
    height: 281px;
    padding-right: 16px;
    padding-left: 31px;
    padding-top: 0px;
    box-sizing: border-box;
    position: relative;
  }

  &_head-title {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 25px;
    color: #3c4b55;
  }

  &_head-city {
    background-image: url(../img/green-rect.png);
    background-repeat: no-repeat;
    line-height: 35px;
    font-family: "Roboto";
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    padding-left: 23px;
    position: absolute;
    bottom: 0;
    left: 32px;
    width: 259px;
  }
  
  &_body {

  }

  &_body-text {

    padding: 0 20px;
    padding-bottom:30px;

      p {
        font-family: "Roboto";
        font-weight: 400;
        color: #2f3c49;
        font-size: 17px;
        text-indent: 20px;
        margin: 5px 0;
        text-align: justify;
      }

      h1,h2,h3,h4,h5,h6 {
        font-family: "Roboto";
        font-weight: 700;
        color: #2f3c49;
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 25px;
      }

      ul {
        padding-left: 60px;
      }

      li {
        font-family: "Roboto";
        font-weight: 400;
        color: #2f3c49;
        font-size: 17px;
        margin: 15px 0;
        position: relative;
        font-style: italic;
        line-height: 24px;
      }

      li:before {
        content: url(../img/li-marker.png);
        color: #69ab22;
        font-size: 34px;
        position: absolute;
        left: -21px;
        top: -3px;
      }

  }


}